<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="htps://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <!-- assets/ css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">  
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <!-- assets/ scripts-->
    <script src="/fontawesome/js/all.js"></script>
     <script src="/scripts/main.js"></script>
    <!-- end of external link -->
    <title>ClinicApp</title>
</head>
<body>
<section class="container-fluid">
  <nav class="top-nav row">
     <div class="col-2 logo">
       <img src="/images/logo.png" alt="">
     </div>
     <div class="col-10 main-nav">
       <div class="row">
         <div class="d-flex flex-row col-6">
           <a href="#"><i class="fas fa-tachometer-alt"> </i>Dashboard</a>
         </div>
         <div class="d-flex flex-row-reverse col-6">
          <a href="#" class="float-left"><i class="fas fa-sign-out-alt"></i>Logout</a>
           <a href="#" class="float-left"><i class="far fa-bell"></i></a>
           <a href="#" class="float-left"><i class="fas fa-envelope"></i></a>
           
         </div>
       </div>
     </div>
  </nav>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-2">
          <aside class="side-nav">
            <ul class="nav-ul">
              <li><a href="/"><i class="fas fa-clinic-medical"></i> Reception</a></li>
              <li><a href="/nurse"><i class="fas fa-user-nurse"></i> Nursing</a></li>
              <li class="active"><a href="/doctor"><i class="fas fa-user-md"></i> Doctor</a></li>
              <li><a href="/labo"><i class="fas fa-vials"></i> Laboratory</a></li>
              <li><a href="#"><i class="fas fa-capsules"></i> Pharmacy</a></li>
              <li><a href="#"><i class="fas fa-procedures"></i> Hospitalization</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-8 content-body">
          <div class="row second-top-nav doctor-nav ">
            <a href="#"><i class="fas fa-home"></i>Home <i class="fas fa-user-md"></i> Doctor <i class="fas fa-forward"></i> <span>DAVID NTAMAKEMWA</span></a>
            <div class="row patient-nurse-content">
                <div class="col-6">
                    <div class="nursing-info">
                        <h1>Conclusion</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda non placeat, consequatur numquam delectus hic eveniet. At soluta temporibus sint similique aut earum assumenda, unde quis nesciunt iure. Alias.
                        </p>
                    </div>
    
                </div>
                 <div class="col-6">
                     <div class="background-info">
                        <table class="table caption-top">
                            <caption>Ordonance</caption>
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Disease</th>
                                <th scope="col">Result</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Malaria</td>
                                <td>Otto</td>
                                <td>
                                  <div class="drop">
                                    <button class="dropbtn1"><i class="fas fa-list"></i></button>
                                    <div class="drop-content">
                                      <a href="#"><i class="fas fa-user-edit"></i> Edit</a>
                                      <a href="#"><i class="fas fa-eye"></i> View</a>
                                      <a href="#"><i class="fas fa-trash"></i> Delete</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Diabete</td>
                                <td>Thornton</td>
                                <td><i class="fas fa-list"></i></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><i class="fas fa-list"></i></td>
                              </tr>
                            </tbody>
                          </table>
                     </div>
    
                 </div>
              </div>
          </div>
          <div class="row table-content">
            <div class="col-6">
              <table class="table caption-top">
                <caption>List of Exam</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exam</th>
                    <th scope="col">Result</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>HIV/AIDS</td>
                    <td>Otto</td>
                    <td>
                      <div class="drop">
                        <button class="dropbtn1"><i class="fas fa-list"></i></button>
                        <div class="drop-content">
                          <a href="#"><i class="fas fa-user-edit"></i> Edit</a>
                          <a href="#"><i class="fas fa-eye"></i> View</a>
                          <a href="#"><i class="fas fa-trash"></i> Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Malaria</td>
                    <td>Thornton</td>
                    <td><i class="fas fa-list"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td><i class="fas fa-list"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
           
              <div class="col-6 col-6-conclusion">
                <div class="row">
                    <div class="medecin">
                        <div class="form-group">
                            <label class="header" for="">Medecin</label>
                            <select name="" id="" class="form-control">
                                <option value="">Paracetamol</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="header" for="">Qty</label>
                            <input type="number" class="form-control">
                        </div>
                      <div class="form-group">
                          <label class="header" for="">Comment</label>
                          <textarea class="form-control" name="" id="" cols="30" rows="1"></textarea>
                      </div>
                      <div class="form-group d-flex flex-row-reverse">
                        <button class="button submit-btn temporary-save" style="margin-top: 5px;"><span class="span"><i class="fas fa-save"></i></span>Save</button>
                      </div>

                </div>
            </div>
                <div class="col-6 col-6-ordonance">
                   <div class="ordonance">
                      <table class="table caption-top">
                          <caption>Ordonance</caption>
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Qty</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Paracetamol</td>
                              <td>15</td>
                              <td>
                                <div class="drop">
                                  <button class="dropbtn1"><i class="fas fa-list"></i></button>
                                  <div class="drop-content">
                                    <a href="#"><i class="fas fa-user-edit"></i> Edit</a>
                                    <a href="#"><i class="fas fa-eye"></i> View</a>
                                    <a href="#"><i class="fas fa-trash"></i> Delete</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Perecelin</td>
                              <td>40</td>
                              <td><i class="fas fa-list"></i></td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Cold cup</td>
                              <td>50</td>
                              <td><i class="fas fa-list"></i></td>
                            </tr>
                          </tbody>
                        </table>
                   </div>
                </div>
                <div class="col-6 col-6-ordonance">
                  <div class="form-group">
                      <label class="header" for="">Conclusion</label>
                      <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                      <label class="header" for="">Hospitalization</label>
                      <select name="" id="" class="form-control">
                          <option value="">Yes</option>
                          <option value="">No</option>
                      </select>
                  </div>
                  
                <div class="form-group d-flex flex-row-reverse">
                  <button class="button submit-btn" style="margin-top: 5px;"><i class="fas fa-share-square"></i>Submit</button>
                </div>
              </div>
        </div>
        </div>
        <div class="col-2">
          <aside class="right-side">
            <div class="right-card">
              <div class="box-card">
               <h1 class="box-card-h"><a href="#">Patient</a></h1>
               <p class="box-card-p">20</p>
              </div>
              <div class="box-card">
                <h1 class="box-card-h"><a href="#">Progress</a></h1>
                <p class="box-card-p">20</p>
              </div>
              <div class="box-card">
                <h1 class="box-card-h"><a href="#">Closed</a></h1>
                <p class="box-card-p">20</p>
              </div>
            </div>
          </aside>
        </div>
    </div>
   
</section>
<footer class="container-fluid" style="height: 100px;">
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>
</footer>
</body>
</html>